.header{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* logo style  */
.logo{
    padding: 0;
    margin: 0;
}
.logo p{
    font-size: 48px;
    padding: 0;
    margin: 0;
    letter-spacing: 10px;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.logo p {
  overflow: hidden; 
  border-right: .15em solid #fff; 
  white-space: nowrap; 
  animation: typing 5s steps(40, end) infinite; 
  animation-delay: 2s
}

/* navbar style  */
.navbar{
    display: flex;
    justify-content: flex-end;
}
.navbar p{
    margin: 0;
    margin-left: 20px;
    font-size: 18px;
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 7px;
    transition: all ease .4s;
    text-align: end;

}
.navbar p:hover{
    cursor: pointer;
    background-color: #007bff;

}
.navbar p.active{
    background-color: #007bff;
}